body {
    overflow: auto;
}

body>header {
    line-height: .53rem;
    height: .53rem;
    background-image: url(../images/clay.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: .1rem center;
    padding-left: .5rem;
    font-family: fantasy;
    font-size: .3rem;
    background-color: black;
    color: #fff;
    white-space: nowrap;
    position: relative;
    width: 100vw;
}

body>header>ul {
    display: inline-block;
    font-size: .16rem;
    padding-left: .2rem;
}

body>header>ul>li {
    display: inline-block;
}

body>header>ul>li>a {
    color: #fff;
    padding: 0 .2rem;
}

body>header>ul>.github {
    display: none;
}

body>header>.github {
    background-image: url(../images/github.png);
    font-size: 0;
    display: inline-block;
    height: 100%;
    width: .5rem;
    vertical-align: top;
    position: absolute;
    right: .1rem;
    height: .53rem;
}

body>header>button {
    display: none;
}

/**
*针对小屏幕
*/

@media only screen and (max-width: 700px),
only screen and (max-device-width:700px) {
    body>header>.github {
        display: none;
    }
    body>header>ul>.github {
        display: block;
        background-image: url(../images/github.png);
        font-size: 0;
        background-repeat: no-repeat;
        background-position-x: .2rem;
    }
    body>header>button {
        display: inline-block;
        position: absolute;
        right: 0;
        height: .53rem;
        font-size: 0;
        width: .53rem;
        background-image: url('./image/3point.png');
        background-color: black;
        background-size: auto 80%;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        border: none;
        cursor: pointer;
    }
    body>header>ul {
        position: absolute;
        left: 0;
        background-color: black;
        top: .53rem;
        padding-left: 0;
        overflow: hidden;
        transition-duration: 700ms;
        transition-property: height;
    }
    body>header>ul>li {
        display: block;
        width: 100vw;
        padding-left: .1rem;
    }
    body>header>ul>li>a {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    body>header>ul.hidden {
        height: 0;
    }
    body>header>ul.show {
        height: 2.65rem;
    }
}