/* 整体 */

body {
    font-size: 0;
    color: #555;
    font-family: inconsolata;
    line-height: .18rem;
    font-weight: normal;
}

.menu-frame,
iframe {
    display: inline-block;
    font-size: .15rem;
    height: 100vh;
    vertical-align: top;
    overflow: hidden;
}

.menu-frame {
    width: 2.6rem;
    padding: 0 .2rem .2rem .2rem;
    background: #fafafa;
    overflow-y: auto;
}

iframe {
    width: calc(100vw - 2.6rem);
}

/* 菜单 */

header {
    margin-top: .3rem;
    margin-bottom: .4rem;
    font-size: .25rem;
    text-align: center;
}

header>a {
    color: #d66eac;
    font-style: normal;
    cursor: pointer;
}

input {
    width: 100%;
    padding: .05rem;
    font-size: .15rem;
    outline: none;
    border: 1px solid #dedede;
}

span {
    color: #454545;
    font-size: .18rem;
    margin-top: .2rem;
    display: block;
}

label {
    color: #666;
    font-size: .16rem;
    margin-top: .2rem;
    display: block;
}

ul {
    margin-top: .2rem;
}

ul>li {
    color: #2194CE;
    text-decoration: none;
    line-height: 1.4em;
    cursor: pointer;
}
