body>section>.head {
    height: 5rem;
    background-image: url('./images/home.jpeg');
    padding-top: 2rem;
    padding-left: .3rem;
    background-size: 100% auto;
    color: #fff;
}

body>section>.head>span {
    display: block;
    line-height: 2;
}

body>section>.head>.name {
    font-size: .36rem;
}

body>section>.head>.info {
    font-size: .2rem;
}

body>section>.head>input[type='button'] {
    border-radius: .2rem;
    height: .4rem;
    line-height: .4rem;
    padding: 0 .2rem;
    font-size: .16rem;
    background-color: transparent;
    margin: .2rem;
    cursor: pointer;
    border-color: #fff;
    color: #fff;
    border-width: 2px;
    outline: none;
}

body>section>.download {
    text-align: center;
}

body>section>.download span {
    display: inline-block;
}

body>section>.download>span {
    width: 3.4rem;
}

body>section>.download>span.github {
    margin-right: .1rem;
}

body>section>.download>span.current {
    margin-left: .1rem;
}

body>section>.download>span>span {
    line-height: 2;
    width: 3.4rem;
    font-size: .3rem;
    background-color: #c42f7f;
    color: #fefefe;
    cursor: pointer;
}

body>section>.download>span>span>em {
    font-size: .16rem;
    display: block;
    font-style: normal;
}

body>section>.download>span>button {
    border: none;
    outline: none;
    color: #c42f7f;
    font-size: .14rem;
    margin-top: .1rem;
    cursor: pointer;
}

body>section>.download>span>button:not(:last-child)::after {
    content: '|';
    padding: 0 .1em 0 1.5em;
    color: #999;
}

body>section>.question {
    font-size: 0;
}

body>section>.question>.item {
    font-size: .18rem;
    vertical-align: top;
    display: inline-block;
    line-height: 1.6;
    padding: .2rem;
}

body>section>.question>.item>.head {
    display: block;
    font-size: .24rem;
    line-height: .4rem;
    color: #3e93b5;
}

body>section>.question>.item>.p {
    text-indent: .4rem;
    display: inline-block;
    color: #2b6d8d;
}
