body>section>p {
    text-indent: 2em;
    line-height: 1.6;
}

body>section>ul {
    font-size: 0;
    padding-top: .2rem;
}

body>section>ul>li {
    display: inline-block;
    width: 50%;
    background-size: auto 90%;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}

body>section>ul>li:last-child {
    border-left: 1px solid #e3e2e2;
    font-size: .16rem;
    padding-top: 1rem;
    padding-left: .3rem;
}

body>section>ul>li:last-child>.link {
    padding-top: .4rem;
    padding-left: .2rem;
    line-height: 1.4;
    background-repeat: no-repeat;
    font-size: 0;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    margin-top: .4rem;
}

body>section>ul>li:last-child>.link:nth-child(2) {
    background-image: url('./images/gmail.png');
    margin-left: .6rem;
}

body>section>ul>li:last-child>.link:nth-child(3) {
    background-image: url('./images/QQ.png');
    margin-left: .3rem;
}

body>section>ul>li:last-child>.link:nth-child(4) {
    background-image: url('./images/github.png');
    margin-left: .3rem;
}
