body {
    &>canvas {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
    }
    &>.logo {
        position: fixed;
        top: .3rem;
        left: .3rem;
        color: red;
        font-weight: 800;
        font-size: 0.4rem;
        font-family: fantasy;
    }
    &>canvas {
        background-image: url('../asset/bg.png');
        background-position: center;
        background-color: #332929;
    }
    &>.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: .08rem .1rem 0 .1rem;
        height: .5rem;
        line-height: .5rem;
        font-size: .12rem;
        width: 100vw;
        color: white;
        &>a {
            &.link {
                background-color: rgb(107, 189, 243);
                padding: .01rem .1rem;
                color: white;
                border-radius: .05rem;
            }
            &.github {
                float: right;
                &>img {
                    background-color: white;
                    border-radius: 50%;
                    border: 1px solid #e3e3eb;
                }
            }
        }
    }
    &>.npm-colors {
        position: fixed;
        top: 1rem;
        left: .2rem;
        padding: .2rem;
        height: .5rem;
        line-height: .5rem;
        font-size: .12rem;
        width: auto;
        color: white;
        &>ul {
            position: absolute;
            top: .5rem;
            &>li {
                background-color: var(--color);
                font-size: .14rem;
                line-height: .35rem;
                padding: 0 .1rem;
                margin-top: .1rem;
                color: #fff;
                white-space: nowrap;
                &>em {
                    margin-left: .1rem;
                    position: absolute;
                    right: -.35rem;
                    display: inline-block;
                    width: .35rem;
                    height: .35rem;
                    background-color: rgb(240, 231, 231);
                    color: #000;
                    text-align: center;
                    font-style: normal;
                    cursor: pointer;
                }
            }
        }
        &>div {
            position: absolute;
            top: 0;
            font-size: 0;
            --size: .4rem;
            white-space: nowrap;
            &>* {
                font-size: .14rem;
                vertical-align: top;
            }
            &>input {
                height: var(--size);
                display: inline-block;
                width: 2rem;
                background-color: rgb(197, 192, 192);
                padding: .1rem;
                color: #fff;
            }
            &>span {
                width: var(--size);
                height: var(--size);
                line-height: var(--size);
                display: inline-block;
                color: #000;
                font-size: .3rem;
                background-color: white;
                text-align: center;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}
