body {
    &>canvas {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
    }
    &>.logo {
        position: fixed;
        top: .3rem;
        left: .3rem;
        color: red;
        font-weight: 800;
        font-size: 0.4rem;
        font-family: fantasy;
    }
    &>canvas {
        background-image: url('../asset/bg.png');
        background-position: center;
    }
    &>div {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: .08rem .1rem 0 .1rem;
        height: .42rem;
        line-height: .42rem;
        font-size: .12rem;
        width: 100vw;
        color: white;
        &>a {
            float: right;
            &>img {
                background-color: white;
                border-radius: 50%;
                border: 1px solid #e3e3eb;
            }
        }
    }
    &>.npm-colors {
        position: fixed;
        top: 1rem;
        left: 0;
        padding: .2rem;
        &>li {
            background-color: var(--color);
            font-size: .14rem;
            line-height: .35rem;
            padding-left: .1rem;
            margin-left: .2rem;
            margin-top: .1rem;
            color: #fff;
            &>em {
                margin-left: .1rem;
                float: right;
                width: .35rem;
                height: .35rem;
                background-color: rgb(240, 231, 231);
                color: #000;
                text-align: center;
                font-style: normal;
                cursor: pointer;
            }
        }
    }
}
