svg {
    width: 9rem;
    height: 5rem;
    margin: auto;
    display: block;
    padding: 10px;
    user-select: none;
    margin-top: .5rem;
}

body>section {
    overflow: auto;
}

circle {
    cursor: move;
}

text {
    font-size: 12px;
}
