body {
    background-color: #fefefe;
    &>header {
        border-style: solid;
        border-color: transparent;
        line-height: $head-height;
        margin: auto;
        max-width: $frame-width;
        position: relative;
        border-width: 0 .5rem;
		font-size: .3rem;
        font-family: fantasy;
        @include bg_init('./images/clay.png');
		background-position-x: left;
		background-size: auto 80%;
        padding-left: .5rem;
        &>ul {
            position: absolute;
            top: 0;
            right: 0;
            white-space: nowrap;
            font-size: 0;
            &>li {
                display: inline-block;
                &>a {
                    font-family: sans-serif;
                    font-size: .16rem;
                    padding: 0 .2rem;
                    color: gray;
                    display: inline-block;
                    line-height: $head-height;
                    &:hover {
                        background-color: #f6f6f6;
                    }
                    &.click {
                        color: blue;
                        border-bottom: 2px solid blue;
                    }
                }
            }
        }
        &>a {
            font-family: sans-serif;
            position: fixed;
            transform: rotate(45deg);
            background-color: #607D8B;
            right: -.6rem;
            top: .5rem;
            text-align: center;
            width: 2.4rem;
            line-height: 2em;
            font-size: .16rem;
            border: 2px dashed #fefefe;
            color: #fefefe;
        }
    }
    &>section {
        border-color: #fefefe;
        border-style: solid;
        border-width: 0 calc(50vw - #{$frame-width / 2});
        outline: 1px solid #b9b7b7;
        min-height: calc(100vh - #{$head-height} - #{$footer-height});
        padding: .2rem .5rem;
    }
    .special-height {
        min-height: calc(100vh - #{$head-height} - #{$footer-height});
    }
    &>footer {
        margin: auto;
        max-width: $frame-width;
        position: relative;
        border-style: solid;
        border-color: transparent;
        border-width: 0 .5rem;
        line-height: $footer-height;
        font-size: .14rem;
        &>a {
            position: absolute;
            right: 0;
            top: 0;
            color: rgb(4, 151, 249);
        }
    }
}
