html {
    height: 100vh !important;
}

// 需要缩放的阶段，配置
$mediaSet: ( (maxWidth:1200, scale:0.9), (maxWidth:1100, scale:0.85), (maxWidth:980, scale:0.75), (maxWidth:830, scale:0.6), (maxWidth:630, scale:0.45), (maxWidth:500, scale:0.35), (maxWidth:440, scale:0.3), (maxWidth:370, scale:0.25));
// 迭代生成媒体查询适配
@for $i from 1 through length($mediaSet) {
    $item: nth($mediaSet, $i);
    @media only screen and (max-width: #{map-get($item,maxWidth)}px),
    only screen and (max-device-width: #{map-get($item,maxWidth)}px) {
        body {
            transform: scale(#{map-get($item,scale)}) !important;
            transform-origin: 0 0 !important;
            width: #{100 / map-get($item,scale)}vw !important;
            &>section {
                border-width: 0 calc(#{50 / map-get($item,scale)}vw - #{$frame-width / 2}) !important;
                min-height: calc(#{100 / map-get($item,scale)}vh - #{$head-height} - #{$footer-height}) !important;
            }
            .special-height {
                height: calc(#{100 / map-get($item,scale)}vh - #{$head-height} - #{$footer-height}) !important;
            }
        }
    }
}
