<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../../clay.png" type="image/x-png">
    <title>clay.js - 用例测试 - pie布局</title>
    <script src="../../../build/clay-core.min.js"></script>
</head>

<body></body>

<script>

    // 数据
    var data = [{
        "name": "JavaScript", "run": 1, "begin": 6, "info": "浏览器端脚本语言"
    }, {
        "name": "Perl", "run": 2, "begin": 0, "info": "正则表达式语言"
    }, {
        "name": "Lisp", "run": 3, "begin": 0, "info": "古老的人工智能语言"
    }, {
        "name": "Python", "run": 4, "begin": 0, "info": "脚步语言和新一代大数据语言"
    }, {
        "name": "C", "run": 5, "begin": 0, "info": "面向函数语言"
    }, {
        "name": "Ruby", "run": 6, "begin": 0, "info": "服务端脚本语言"
    }, {
        "name": "CSS", "run": 1, "begin": 6, "info": "页面样式规则"
    }];

    // 画布
    var pencil = $$('<canvas>非常抱歉，您的浏览器不支持canvas!</canvas>')
        .appendTo('body')
        .attr('width', '900')
        .attr('height', '500').painter();

    // 画弧对象
    var arc = $$.canvas.arc(pencil);

    // 绘制文字对象
    var text = $$.canvas.text(pencil)
        .setSize(10)
        .setColor('red');

    // 布局
    var colors = $$.getColors(data.length);
    var pie = clay.pieLayout()
        .setValue(function (val) {
            return val.run + val.begin;
        });

    function doDrawer(deep) {
        pencil.clearRect(0, 0, 900, 500);
        pie

            // 1
            .setDeg(Math.PI * 2 * deep)
            .setBegin(Math.PI / 3)
            .setD(false)
            .drawer(function (info, index) {
                arc.setCenter(150, 150).config({
                    "fillStyle": colors[index]
                })(info.begin, info.deg, 50, 70).fill();

            })(data)

            // 2
            .setDeg(Math.PI / 2 * deep)
            .setBegin(Math.PI / 3 * 2)
            .setD(true)
            .drawer(function (info, index) {
                arc.setCenter(200, 200).config({
                    "fillStyle": colors[index]
                })(info.begin, info.deg, 30, 80).fill();
            })(data)

            // 3
            .setDeg(Math.PI * 3 / 2 * deep)
            .setBegin(Math.PI)
            .setD(false)

            // 提示文字配置
            .setCenter(500, 250)
            .setRadius(function (val, key, index) {
                return index / data.length * 150 + 40;
            })
            .setDis(20, 10)

            .drawer(function (info, index) {

                arc.setCenter(500, 250).config({
                    "fillStyle": colors[index]
                })(info.begin, info.deg, index / data.length * 150 + 40, index / data.length * 100 + 20).fill();

                // 提示文字和线条

                pencil.beginPath();
                pencil.moveTo(info.line[0][0], info.line[0][1]);
                pencil.lineTo(info.line[1][0], info.line[1][1]);
                pencil.lineTo(info.line[2][0], info.line[2][1]);
                pencil.stroke();

                text.setAlign(info.line[3])(info.line[2][0], info.line[2][1], data[index].info).fill();

            })(data)

            // 4
            .setDeg(Math.PI * deep)
            .setBegin(Math.PI / 2 * 3)
            .setD(true)
            .drawer(function (info, index) {
                arc.setCenter(900, 150).config({
                    "fillStyle": colors[index]
                })(info.begin, info.deg, 0, index / data.length * 150 + 10).fill();
            })(data);

    }

    // 启动动画
    $$.animation(function (deep) {
        doDrawer(deep);
    }, 1000, function () {
        doDrawer(1);
    });

</script>

</html>
