<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../../clay.png" type="image/x-png">
    <title>clay-core - 用例测试 - tree布局</title>
    <script src="../../../build/clay-core.min.js"></script>
</head>

<body></body>

<script>

    var nodes = [
        // 结点名称、父节点名称
        ["手绘", null],
        ["水粉", "手绘"],
        ["油画", "手绘"],
        ["素描", "手绘"],
        ["中国画", "手绘"],
        ["空间透视", "素描"],
        ["色彩五大调", "素描"],
    ];

    $$('<svg>' +
        // 绘制连线
        '<g class="line"></g>' +
        // 绘制结点
        '<g class="node"></g>' +
        // 绘制文字
        '<g class="text"></g>' +
        '</svg>').appendTo('body')
        .attr('width', '400')
        .attr('height', '400');

    // 创建布局对象
    var tree = clay.treeLayout()

        /**
         * 基本配置
         */

        // 获取根结点
        .root(function (initTree) {
            return initTree[0];
        })

        // 获取孩子结点
        .child(function (parentTree, initTree) {
            var children = [], i;
            for (i = 0; i < nodes.length; i++) {
                if (initTree[i][1] == parentTree[0])
                    children.push(initTree[i]);
            }
            return children;
        })

        // 获取结点标志id
        .id(function (treedata) {
            return treedata[0];
        })

        /**
         * 绘图配置
         */
        .drawer(function (nodes, rootid, size) {

            $$('g')[0].innerHTML = '';
            $$('g')[1].innerHTML = '';
            $$('g')[2].innerHTML = '';

            var bezier = $$.svg.bezier().setType(1, 0).setL(50),
                text = $$.svg.text().setSize(10);

            var i, node;
            for (i in nodes) {

                node = nodes[i];

                // 绘制结点
                $$('<circle target=' + node.data[0] + ' r="3" fill="white" stroke="red" stroke-width="1"/>')
                    .appendTo('.node')
                    .attr('cx', node.left * 100)
                    .attr('cy', node.top * 100);

                // 绘制文字
                text(node.left * 100, node.top * 100 - 14, node.data[0]).appendTo('.text');

                // 绘制连线
                if (node.pid)
                    $$('<path source=' + node.data[1] + ' target=' + node.data[0] + ' stroke-width="1" stroke="gray" fill="none"></path>')
                        .appendTo('.line')
                        .attr('d', bezier(
                            // 起点
                            nodes[node.pid].left * 100, nodes[node.pid].top * 100,
                            // 终点
                            node.left * 100, node.top * 100
                        ));

            }

            // 添加交互用例
            $$('circle').bind('click', function () {
                // 删除结点
                tree.delete($$(this).attr('target'));
            });

        });

    //  启动绘图
    tree(nodes);

</script>

</html>
