body>.frame {
    width: 7rem;
    margin: .5rem auto;
    box-shadow: 0px 0px 1px 0px #9E9E9E;
    border-radius: .05rem;
    background-color: #f7f5f5;
    padding: .2rem;
    position: relative;
}

body>.frame>footer {
    position: absolute;
    bottom: -.6rem;
    line-height: .6rem;
    left: 0;
    font-size: .14rem;
    color: #43515a;
}

body>.frame>ul {
    position: absolute;
    width: .3rem;
    right: -.3rem;
}

body>.frame>ul>li {
    display: inline-block;
    width: inherit;
    height: .3rem;
}

body>.frame>.github {
    position: fixed;
    width: 2rem;
    background-color: #607d8b;
    line-height: .3rem;
    right: -40px;
    top: 45px;
    text-align: center;
    transform: rotate(45deg);
    color: #fff;
    outline: .02rem dashed #607D8B;
    font-size: .14rem;
}

body>.frame>.view>header {
    line-height: 3em;
    font-size: .2rem;
    text-align: center;
}

body>.frame>.view>section:not(:nth-child(2)) {
    margin-top: .5rem;
}

body>.frame>.view>section>.title {
    font-weight: 600;
    font-size: .18rem;
}

body>.frame>.view>section {
    font-family: cursive;
}

body>.frame>.view>section>p {
    text-indent: 2em;
    line-height: 1.6em;
}

body>.frame>.view>section>.code {
    background-color: #dfebf1;
    padding: .1rem;
    color: blue;
    border-radius: .05rem;
    box-shadow: 0 0 3px #607d8b;
    line-height: 1.6em;
}